<!doctype html>
<html ng-app ="myApp">
  <head>
    <title>My To-Do List</title>
    <link rel="stylesheet" type="text/css" href="CSS/MyPersonalStyleSheet.css">
  </head>
  <body>

  	<div class="container" data-ng-controller="toDoListController">
      <center><h1>To Do List</h1></center>
      <form ng-init="listName,listDescription">
        <input type="text" placeholder="Name" ng-model="listName">{{listName}}
        <br/>
        <input type="text" placeholder="Description" ng-model="listDescription"/>{{listDescription}}
    </form>

      <button data-ng-click="addListItem()">Add Item</button><br/>
      <br/>
      <table id="tableId">
      <tr>
        <td>Name</td>
        <td>Task</td>
        <td>Delete</td>
      </tr>
       <tr data-ng-repeat="currentItem in listArray"> 
        <td>{{currentItem.name}}</td>
        <td>{{currentItem.description}}</td>
        <td><button data-ng-click="remove(currentItem.name)">Delete</a></td>
        </tr>
      </table>
      </div>
  	</div>   
  </body>
 <script src="angular.min.js"></script>
 <script src="phonegap.js"></script>
 <script type="text/javascript" src="JS/toDoListController.js"></script>
</html>